<router-outlet></router-outlet>

<h1>Devops Assignment</h1>

<div>
  <h2>Group Memebers list</h2>
  <ol>
    <li>Neha Pandit - C0884062</li>
    <li>Chaitali Patel - C0886423</li>
    <li>Maneesh Anil - C0887788</li>
    <li>Shilpa Vaman - C0887789</li>
  </ol>
</div>

<div>
  <h3>Steps to create a angular project and deploy it on firebase</h3>
</div>
<ul>
  <li>Create a Firebase Project</li>
  <li>Install Firebase CLI</li>
  <li>Configure Firebase in Your Angular Project</li>
  <li>Set Up Firebase Hosting</li>
  <li>Create GitHub Actions Workflow</li>
  <li>Configure GitHub Secrets</li>
  <li>Commit and Push</li>
</ul>
